<h1> Experiences </h1>
{% for exp in experiences %}
    <div class="content" id="exp{{ exp.id }}">
        <h2>{{ exp.title }}</h2>
        <input type="button" value="Description" id="desc" />
        <input type="button" value="Place" id="place" />
        <input type="button" value="Skills" id="skills" />
        <input type="button" value="Tools" id="tools" />

        <div class="contentDatas" id="desc">
            {{ exp.desc }}
        </div>

        <div class="contentDatas" id="place">
            {{ exp.place.name }}
            {{ exp.place.address }}
            {{ exp.place.city }}
        </div>
    </div>
{% endfor %}
