<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{{applicant}}</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/site_media/css/personal.css" /></link>

    <!-- remember that in production state, i can get jquery from google repositories-->
    <script src="/site_media/javascript/jquery-1.4.4.js" type="text/javascript"></script>
    <script src="/site_media/javascript/personal.js" type="text/javascript"></script>
</head>

<body>
<div id="wrap">
    <!-- header -->
    <div id="header">


            <!-- navigation -->
            <div  id="nav">
                <ul>
                    <li>
                        <input type="button" width=300px
                        value={{applicant.first_name}}{{applicant.last_name}}
                        id="home" >
                        </input>
                    </li>
                    <li><input type="button" value="Experiences" id="experience"></input></li>
                    <li><input type="button" value="Formations" id="education"></input></li>
                    <li><input type="button" value="Competences" id="skills"></input></li>
                    <li><input type="button" value="Contact" id="Contact"></input></li>
                    <li><input type="button" value="A propos" id="A propos"></input></li>
                </ul>
            </div>

    </div>
    <!-- header ends -->

    <!-- menu starts -->
    <div id="menu-wrap" >
        du blabla encore du blabla
    </div>

    <!-- content starts -->
    <div id="content-wrap" >
        {% block block_content %}
        {% endblock %}
    </div>

    <div id="footer-bottom">	
        <p>
            <a href="index.html">Home</a> |
            <a href="index.html">Sitemap</a> |
            <a href="index.html">RSS Feed</a> |
            <a href="#top">Top</a>
        </p>
    </div>

<script type="text/javascript">

$('#nav input')
    .click(function() getContent(this.id));

</script>

</body>
</html>
